<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filters</key>
	<array>
        <dict>
            <key>filterName</key>
            <string>Band Pass Filter</string>
            <key>enabled</key>
            <true/>
            <key>parameters</key>
            <array>
                <dict>
                    <key>parameterName</key>
                    <string>centerFrequency</string>
                    <key>parameterDescription</key>
                    <string>Center frequency, Hz</string>
                    <key>minimumValue</key>
                    <integer>20</integer>
                    <key>maximumValue</key>
                    <integer>2000</integer>
                </dict>
                <dict>
                    <key>parameterName</key>
                    <string>bandwidth</string>
                    <key>parameterDescription</key>
                    <string>Bandwidth, Cents</string>
                    <key>minimumValue</key>
                    <integer>100</integer>
                    <key>maximumValue</key>
                    <integer>12000</integer>
                </dict>
            </array>
        </dict>
        <dict>
            <key>filterName</key>
            <string>Booster</string>
            <key>enabled</key>
            <true/>
            <key>parameters</key>
            <array>
                <dict>
                    <key>parameterName</key>
                    <string>gain</string>
                    <key>parameterDescription</key>
                    <string>Amplification</string>
                    <key>minimumValue</key>
                    <integer>1</integer>
                    <key>maximumValue</key>
                    <integer>1000</integer>
                </dict>
            </array>
        </dict>
        <dict>
            <key>filterName</key>
            <string>Low Pass Filter</string>
            <key>enabled</key>
            <true/>
            <key>parameters</key>
            <array>
                <dict>
                    <key>parameterName</key>
                    <string>cutoffFrequency</string>
                    <key>parameterDescription</key>
                    <string>Cutoff frequency, Hz</string>
                    <key>minimumValue</key>
                    <integer>10</integer>
                    <key>maximumValue</key>
                    <integer>22050</integer>
                </dict>
                <dict>
                    <key>parameterName</key>
                    <string>resonance</string>
                    <key>parameterDescription</key>
                    <string>Resonance, dB</string>
                    <key>minimumValue</key>
                    <integer>-20</integer>
                    <key>maximumValue</key>
                    <integer>40</integer>
                </dict>
            </array>
        </dict>
        <dict>
            <key>filterName</key>
            <string>High Pass Filter</string>
            <key>enabled</key>
            <true/>
            <key>parameters</key>
            <array>
                <dict>
                    <key>parameterName</key>
                    <string>cutoffFrequency</string>
                    <key>parameterDescription</key>
                    <string>Cutoff frequency, Hz</string>
                    <key>minimumValue</key>
                    <integer>10</integer>
                    <key>maximumValue</key>
                    <integer>22050</integer>
                </dict>
                <dict>
                    <key>parameterName</key>
                    <string>resonance</string>
                    <key>parameterDescription</key>
                    <string>Resonance, dB</string>
                    <key>minimumValue</key>
                    <integer>-20</integer>
                    <key>maximumValue</key>
                    <integer>40</integer>
                </dict>
            </array>
        </dict>
        <dict>
            <key>filterName</key>
            <string>Pitch shifter</string>
            <key>enabled</key>
            <false/>
            <key>parameters</key>
            <array>
                <dict>
                    <key>parameterName</key>
                    <string>shift</string>
                    <key>parameterDescription</key>
                    <string>Pitch shift</string>
                    <key>minimumValue</key>
                    <integer>-1000</integer>
                    <key>maximumValue</key>
                    <integer>1000</integer>
                </dict>
                <dict>
                    <key>parameterName</key>
                    <string>windowSize</string>
                    <key>parameterDescription</key>
                    <string>Window size</string>
                    <key>minimumValue</key>
                    <integer>0</integer>
                    <key>maximumValue</key>
                    <integer>8000</integer>
                </dict>
                <dict>
                    <key>parameterName</key>
                    <string>crossfade</string>
                    <key>parameterDescription</key>
                    <string>Crossfade</string>
                    <key>minimumValue</key>
                    <integer>0</integer>
                    <key>maximumValue</key>
                    <integer>20</integer>
                </dict>
            </array>
        </dict>
		<dict>
			<key>filterName</key>
			<string>Time pitch</string>
			<key>enabled</key>
			<false/>
			<key>parameters</key>
			<array>
				<dict>
					<key>parameterName</key>
					<string>rate</string>
					<key>parameterDescription</key>
					<string>Rate</string>
					<key>minimumValue</key>
					<real>0.03125</real>
					<key>maximumValue</key>
					<real>32</real>
				</dict>
				<dict>
					<key>parameterName</key>
					<string>pitch</string>
					<key>parameterDescription</key>
					<string>Pitch</string>
					<key>minimumValue</key>
					<integer>-2400</integer>
					<key>maximumValue</key>
					<integer>2400</integer>
				</dict>
				<dict>
					<key>parameterName</key>
					<string>overlap</string>
					<key>parameterDescription</key>
					<string>Overlap</string>
					<key>minimumValue</key>
					<integer>3</integer>
					<key>maximumValue</key>
					<integer>32</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>filterName</key>
			<string>Tone Filter</string>
			<key>enabled</key>
			<false/>
			<key>parameters</key>
			<array>
				<dict>
					<key>parameterName</key>
					<string>halfPowerPoint</string>
					<key>parameterDescription</key>
					<string>Half-power point, Hz</string>
					<key>minimumValue</key>
					<integer>1</integer>
					<key>maximumValue</key>
					<integer>10000</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>filterName</key>
			<string>ParametricEQ</string>
			<key>enabled</key>
			<false/>
			<key>parameters</key>
			<array>
				<dict>
					<key>parameterName</key>
					<string>centerFrequency</string>
					<key>parameterDescription</key>
					<string>Center Frequency, Hz</string>
					<key>minimumValue</key>
					<integer>20</integer>
					<key>maximumValue</key>
					<integer>22050</integer>
				</dict>
				<dict>
					<key>parameterName</key>
					<string>q</string>
					<key>parameterDescription</key>
					<string>Q, Hz</string>
					<key>minimumValue</key>
					<integer>0</integer>
					<key>maximumValue</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>parameterName</key>
					<string>gain</string>
					<key>parameterDescription</key>
					<string>Gain, dB</string>
					<key>minimumValue</key>
					<integer>-20</integer>
					<key>maximumValue</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
